body {
  background-color:#3454b4;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
}

#nav {
width:730px;
margin:0 auto;
list-style:none;
position: fixed;
z-index: 1;
top: 50%;
left: 50%;
margin-top: -540px;
margin-left: -388px;
background-color: RGBA(52, 84, 180,0.5 )
}
#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
width:100px;
text-decoration:none;
color: white;
font-size: 24px;
padding-top: 70px;
font-family: calibri;
}
#nav a:hover{
  color: #3454b4;
  background-color: royalblue;
}


.container {
  display: table-cell;
  position: relative;
  width: 500px;
  height: 300px;
  background-size: cover;
  text-align: center;
}

.image {
  display: table-cell;
  width: 500px;
  height: 300px;
  background-size: cover;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 500px;
  opacity: 0;
  transition: .5s ease;
  background-color: royalblue;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: calibri;
}

.colfiller {
  display: table-cell;
  padding: 16px;
  background-color: royalblue;
  width: 50px;
  background-size: cover;
  text-align: center;
  border: royalblue;
}
.col4 {
  display: table-cell;
  background-image: url("14.jpg ");
  background-size: cover;
}
.backing{
  margin: 0;
  background-color: royalblue;
  width: 100%;
  display:table;
  text-align: center;
}
.backing2{
  margin: 0;
  background-color: royalblue;
  width: 75%;
  float:left;
}
.backing3{
  margin: 0;
  background-color: royalblue;
  width: 75%;
  float:right;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.mySlides {display: none;}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 900px;
  margin: 10px;
  height: 500px;
}
.colslide {
  display: table-cell;
}
